<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MAX HEALTH CARE</title>

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="{ % static 'assets/dist/img/ico/favicon.png' % }" type="image/x-icon">

        <!-- Start Global Mandatory Style
        =====================================================================-->
        <!-- jquery-ui css -->
        <link href="{ % static ' administration/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.css' % }" rel="stylesheet" type="text/css"/>
        <!-- Bootstrap -->
        <link href="{ % static ' administration/assets/bootstrap/css/bootstrap.min.css' % }" rel="stylesheet" type="text/css"/>
        <!-- Bootstrap rtl -->
        <!--<link href="assets/bootstrap-rtl/bootstrap-rtl.min.css" rel="stylesheet" type="text/css"/>-->
        <!-- Lobipanel css -->
        <link href="{ % static ' administration/assets/plugins/lobipanel/lobipanel.min.css' % }" rel="stylesheet" type="text/css"/>
        <!-- Pace css -->
        <link href="{ % static ' administration/assets/plugins/pace/flash.css' % }" rel="stylesheet" type="text/css"/>
        <!-- Font Awesome -->
        <link href="{ % static ' administration/assets/font-awesome/css/font-awesome.min.css' % }" rel="stylesheet" type="text/css"/>
        <!-- Pe-icon -->
        <link href="{ % static ' administration/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css' % }" rel="stylesheet" type="text/css"/>
        <!-- Bootstrap-wysihtml5 css -->
        <link href="{ % static ' administration/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css' % }" rel="stylesheet" type="text/css"/>
        <!-- Themify icons -->
        <link href="{ % static ' administration/assets/themify-icons/themify-icons.css' % }" rel="stylesheet" type="text/css"/>
        <!-- End Global Mandatory Style
        =====================================================================-->
        <!-- Start Theme Layout Style
        =====================================================================-->
        <!-- Theme style -->
        <link href="{ % static ' administration/assets/dist/css/stylehealth.min.css' % }" rel="stylesheet" type="text/css"/>
        <!-- Theme style rtl -->
        <!--<link href="assets/dist/css/stylehealth-rtl.css" rel="stylesheet" type="text/css"/>-->
        <!-- End Theme Layout Style
        =====================================================================-->
    </head>
    <body class="hold-transition sidebar-mini">        
        <!-- Site wrapper -->
        <div class="wrapper">
            <header class="main-header">
                <a href="index.html" class="logo"> <!-- Logo -->
                    <span class="logo-mini">
                        <!--<b>A</b>BD-->
                        <img src="{ % static 'administration/assets/dist/img/mini-logo.png' % }" alt="">
                    </span>
                    <span class="logo-lg">
                        <!--<b>Admin</b>BD-->
                        <img src="{ % static 'administration/assets/dist/img/logo.png' % }" alt="">
                    </span>
                </a>
                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top ">
                    <a href="forms_basic.html#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <!-- Sidebar toggle button-->
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-tasks"></span>
                    </a>
                    
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Notifications -->

                                            <!-- user -->
                                            <li class="dropdown dropdown-user admin-user">
                                                <a href="forms_basic.html#" class="dropdown-toggle" data-toggle="dropdown"> 
                                                    <div class="user-image">
                                                        <img src="{ % static 'administration/assets/dist/img/avatar4.png' % }" class="img-circle" height="40" width="40" alt="User Image">
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="profile.html"><i class="fa fa-users"></i> User Profile</a></li>
                                                   
                                                    <li><a href="login.html"><i class="fa fa-sign-out"></i> Logout</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </header>
                            <!-- =============================================== -->
                            <!-- Left side column. contains the sidebar -->
                            <aside class="main-sidebar">
                                <!-- sidebar -->
                                <div class="sidebar">
                                    <!-- Sidebar user panel -->
                                    <div class="user-panel">
                                        <div class="image pull-left">
                                            <img src="{ % static 'administration/assets/dist/img/avatar5.png' % }" class="img-circle" alt="User Image">
                                        </div>
                                        <div class="info">
                                            <h4>Welcome</h4>
                                            <p>Mr. Admin</p>
                                        </div>
                                    </div>

                                    <!-- sidebar menu -->
                                    <ul class="sidebar-menu">
                                        <li class="active">
                                            <a href="index.html"><i class="fa fa-hospital-o"></i><span>Dashboard</span>
                                            </a>
                                        </li>
                                      <li class="treeview">
                            <a href="index.html#">
                                <i class="fa fa-user-md"></i><span>Doctor</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="forms_basic_doc.html">Add Doctor</a></li>
                                <li><a href="table.html">Doctor list</a></li>
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="index.html#">
                                <i class="fa fa-user"></i><span>Receptionist</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="forms_basic_recep.html">Add receptionist</a></li>
                                <li><a href="pt-list.html">Receptionist list</a></li>
                            </ul>
                        </li>                   
                  
                        </ul>
                    </div> <!-- /.sidebar -->
                </aside>
                <!-- =============================================== -->
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="header-icon">
                            <i class="pe-7s-note2"></i>
                        </div>
                        <div class="header-title">
                            <form action="forms_basic.html#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>  
                            <h1>Receptionist</h1>
                            <small>Receptionist list</small>
                            <ol class="breadcrumb hidden-xs">
                                <li><a href="index.html"><i class="pe-7s-home"></i> Home</a></li>
                                <li class="active">Dashboard</li>
                            </ol>
                        </div>
                    </section>
                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <!-- Form controls -->
                            <div class="col-sm-12">
                                <div class="panel panel-bd lobidrag">
                                    <div class="panel-heading">
                                        <div class="btn-group"> 
                                            <a class="btn btn-primary" href="table.html"> <i class="fa fa-list"></i>  Receptionist List </a>  
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <form class="col-sm-12">
                                            <div class="col-sm-6 form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" placeholder="Enter Name" required>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" placeholder="Enter Email" required>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Mobile No.</label>
                                                <input type="text" class="form-control" placeholder="Enter Mobile number " required>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Hospital ID</label>
                                                <input type="text" class="form-control" placeholder="Enter Hospital ID" required>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Reception ID</label>
                                                <input type="text" class="form-control" placeholder="Enter Reception ID " required>
                                            </div>
                                             <div class="col-sm-6 form-group">
                                                <label>Age</label>
                                                <input type="text" class="form-control" placeholder="Enter Age " required>
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control" placeholder="Address" required>
                                            </div>    
                                            <div class="col-sm-12 reset-button">
                                                 <a href="forms_basic.html#" class="btn btn-warning">Reset</a>
                                                 <a href="forms_basic.html#" class="btn btn-success">Save</a>
                                             </div>
                                         </form>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         
                     </section> <!-- /.content -->
                 </div> <!-- /.content-wrapper -->
                 <footer class="main-footer">
                    <div class="pull-right hidden-xs"> <b>Version</b>MIT</div>
                </footer>
            </div> <!-- ./wrapper -->
        <!-- Start Core Plugins
        =====================================================================-->
        <!-- jQuery -->
        <script src="{ % static ' administration/assets/plugins/jQuery/jquery-1.12.4.min.js' % }" type="text/javascript"></script>
        <!-- jquery-ui --> 
        <script src="{ % static ' administration/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js' % }" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="{ % static ' administration/assets/bootstrap/js/bootstrap.min.js' % }" type="text/javascript"></script>
        <!-- lobipanel -->
        <script src="{ % static ' administration/assets/plugins/lobipanel/lobipanel.min.js' % }" type="text/javascript"></script>
        <!-- Pace js -->
        <script src="{ % static ' administration/assets/plugins/pace/pace.min.js' % }" type="text/javascript"></script>
        <!-- SlimScroll -->
        <script src="{ % static ' administration/assets/plugins/slimScroll/jquery.slimscroll.min.js' % }" type="text/javascript"></script>
        <!-- FastClick -->
        <script src="{ % static ' administration/assets/plugins/fastclick/fastclick.min.js' % }" type="text/javascript"></script>
        <!-- Hadmin frame -->
        <script src="{ % static ' administration/assets/dist/js/custom1.js' % }" type="text/javascript"></script>

        <!-- End Core Plugins
        =====================================================================-->
        <!-- Start Theme label Script
        =====================================================================-->
        <!-- Dashboard js -->
        <script src="{ % static ' administration/assets/dist/js/custom.js' % }" type="text/javascript"></script>
        <!-- End Theme label Script
        =====================================================================-->

    </body>
    </html>
